In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv('car_price.csv')
df

,Unnamed: 0,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,2017.0,1956 cc,5 Seats
1,1,Renault Duster RXZ Turbo CVT,12.83 Lakh,"13,248 kms",Petrol,Automatic,1st Owner,2021.0,1330 cc,5 Seats
2,2,Toyota Camry 2.5 G,16.40 Lakh,"60,343 kms",Petrol,Automatic,1st Owner,2016.0,2494 cc,5 Seats
3,3,Honda Jazz VX CVT,7.77 Lakh,"26,696 kms",Petrol,Automatic,1st Owner,2018.0,1199 cc,5 Seats
4,4,Volkswagen Polo 1.2 MPI Highline,5.15 Lakh,"69,414 kms",Petrol,Manual,1st Owner,2016.0,1199 cc,5 Seats
...,...,...,...,...,...,...,...,...,...,...
5507,5507,BMW X1 sDrive 20d xLine,28.90 Lakh,"45,000 kms",Diesel,Automatic,1st Owner,2018.0,2995 cc,7 Seats
5508,5508,BMW M Series M4 Coupe,64.90 Lakh,"29,000 kms",Petrol,Automatic,2nd Owner,2015.0,1968 cc,5 Seats
5509,5509,Jaguar XF 2.2 Litre Luxury,13.75 Lakh,"90,000 kms",Diesel,Automatic,2nd Owner,2013.0,2755 cc,5 Seats
5510,5510,BMW 7 Series 730Ld,29.90 Lakh,"79,000 kms",Diesel,Automatic,3rd Owner,2015.0,2967 cc,6 Seats
5511,5511,BMW 5 Series 520d M Sport,31.90 Lakh,"42,000 kms",Diesel,Automatic,2nd Owner,2017.0,1991 cc,5 Seats

In [3]:
df.describe()

        Unnamed: 0  manufacture
count  5512.000000  5497.000000
mean   2755.500000  2015.416045
std    1591.321673     5.146357
min       0.000000  1809.000000
25%    1377.750000  2013.000000
50%    2755.500000  2016.000000
75%    4133.250000  2018.000000
max    5511.000000  2109.000000

In [4]:
df.shape()

TypeError: 'tuple' object is not callable

In [ ]:
df.shape

In [ ]:
df.values

In [ ]:
A=df.drop(columns=['seats'])
A

In [ ]:
df=pd.read_csv(car_price.csv)
a=df.drop(columns=['Seats'])
a

In [ ]:
df=pd.read_csv('car_price.csv')
a=df.drop(columns=['Seats'])
a

In [ ]:
df=df.drop("Unnamed: 0",axis=1)
df.head()

In [ ]:
df[df.duplicated()]

In [ ]:
df=df.drop_duplicates()

In [ ]:
df

In [ ]:
df.count()

In [ ]:
df.isna().sum()

In [ ]:
df=df.dropna(subset=["car_name","car_prices_in_rupee"])

In [ ]:
df["fuel_type"] = df["fuel_type"].fillna(df["fuel_type"].mode()[0])
df["transmission"] = df["transmission"].fillna(df["transmission"].mode()[0])
df["ownership"] = df["ownership"].fillna(df["ownership"].mode()[0])
df["manufacture"] = df["manufa""cture"].fillna(df["manufacture"].mode()[0])
df["Seats"] = df["Seats"].fillna(df["Seats"].mode()[0])
df

In [ ]:
df.isna().sum()

In [ ]:
def extract_car_brand(car_name):
    car_brand=car_name.split()[0]
    return car_brand
df["car_name"] = df["car_name"].apply(extract_car_brand)
df.head()

In [ ]:
s = "karthick g"
s.split()[1]

In [ ]:
df["car_name"].value_counts()

In [ ]:
def extract_price(car_price):
    car_price_elements = str(car_price).split()
    if car_price_elements[-1] == "Lakh":
        return float(car_price_elements[0]) * 100_000
    elif car_price_elements[-1] == "Crore":
        return float(car_price_elements[0]) * 100_00_000
    else:
        return float(car_price_elements[0].replace(",",""))
df["car_prices_in_rupee"] = df["car_prices_in_rupee"].apply(extract_price)
df.head()

In [ ]:
df.head()

In [ ]:
def convert_km_to_numbers(kms):
    kms_in_numbers = int(kms.split()[0].replace(",",''))
    return kms_in_numbers
df["kms_driven"] = df["kms_driven"].apply(lambda i: np.nan if pd.isna(i) else convert_km_to_numbers(i))
df["kms_driven"].fillna(df["kms_driven"].mean())
df.head()

In [ ]:
df["fuel_type"].value_counts()

In [ ]:
col_OHE = pd.get_dummies(df["fuel_type"])
col_OHE.pop(col_OHE.columns[-1])
df = pd.concat([df, col_OHE], axis=1)
df = df.drop("fuel_type", axis=1)
df.head()

In [ ]:
df["transmission"].value_counts()

In [ ]:
df["transmission"] = df["transmission"].astype("category").cat.codes
df["transmission"] = df["transmission"].apply(lambda x: 1 if x==0 else 0)
df.head()

In [ ]:
df["ownership"].value_counts()

In [ ]:
def get_ownership(ownership):
    ownership_in_int=int(ownership.split()[0][0])
    return ownership_in_int
df["ownership"] = df["ownership"].apply(get_ownership)
df.head()

In [6]:
df["manufacture"].value_counts()

2017.0    615
2015.0    529
2018.0    522
2019.0    490
2016.0    469
2014.0    460
2013.0    372
2020.0    346
2021.0    341
2012.0    300
2011.0    263
2010.0    217
2022.0    144
2009.0    132
2008.0    113
2007.0     60
2006.0     42
2005.0     28
2004.0     16
2002.0     13
2003.0      8
2000.0      4
1998.0      2
2001.0      2
1809.0      1
1995.0      1
2023.0      1
1921.0      1
2027.0      1
2109.0      1
2030.0      1
2025.0      1
1999.0      1
Name: manufacture, dtype: int64

In [7]:
def get_age(year):
    age=2023 - year
    return age
df["manufacture"]=df["manufacture"].apply(get_age)
df.head()

,Unnamed: 0,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,6.0,1956 cc,5 Seats
1,1,Renault Duster RXZ Turbo CVT,12.83 Lakh,"13,248 kms",Petrol,Automatic,1st Owner,2.0,1330 cc,5 Seats
2,2,Toyota Camry 2.5 G,16.40 Lakh,"60,343 kms",Petrol,Automatic,1st Owner,7.0,2494 cc,5 Seats
3,3,Honda Jazz VX CVT,7.77 Lakh,"26,696 kms",Petrol,Automatic,1st Owner,5.0,1199 cc,5 Seats
4,4,Volkswagen Polo 1.2 MPI Highline,5.15 Lakh,"69,414 kms",Petrol,Manual,1st Owner,7.0,1199 cc,5 Seats

In [ ]:
def get_cc(cc):